<!DOCTYPE html>
<html lang="en">
  <head>
     
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="styles/base.css">

    <title>Picky Eater</title>

  </head>

  <body>
      <!-- nav bar -->
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Picky Eater</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="">FAQs</a></li>
                  <li><a href="">About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>


          <main>
            <h1>About Us</h1>
            <ul class="team-list">
              <li>
                <figure>
                  <img src="" alt="">
                </figure>
                <section>
                  <h2> <a href="https://github.com/sabdi21">Shukri Abdi</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.</p>
                </section>
              </li>
              <li>
                <figure>
                  <img src="">
                </figure>
                <section>
                  <h2><a href="link to github">Alvin Joseph</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete. </p>
                </section>
              </li>
              <li>
                <figure>
                  <img src="">
                </figure>
                <section>
                  <h2><a href="link to github">Jonathan Rice</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.</p>
                </section>
    
              </li>
              <li>
                <figure>
                  <img src="">
                </figure>
                <section>
                  <h2><a href="https://github.com/cory0s">Richard Rosado</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.</p>
                </section>
              </li>
            </ul>
            <br>
            <br>
            <br>
          </main>

    <footer>
        <nav>
            <ul class='footer'>
              <li><a href="#">Food</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Food</a></li>
            </ul>
          </nav>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>

</html>
