<!DOCTYPE html>
<html lang="en">
  <head>
     
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/bounce.css">
    <link rel="stylesheet" href="styles/modules.css">


    <title>Picky Eater</title>

  </head>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Picky Eater</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <!-- add file paths -->
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/cooking">Recipes</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


          <main>
            <h1>About Us</h1>
            <ul class="team-list">
              <li>
                <figure class="img">
                  <img src="/images/file-2.jpeg">
                </figure>
                <section>
                  <h2> <a href="https://github.com/sabdi21">Shukri Abdi</a></h2>
                  <p>As a Software Developer at Seattle with a passion for serving low-income communities, Shukri loves spending her free time tutoring children from her local communities. For fun, she likes to take her one year-old son on day long trips to different cities in Washington.</p>
                </section>
              </li>
              <li>
                <figure class="img">
                  <img src="/images/AJ_aboutme.jpg">
                </figure>
                <section>
                  <h2><a href="https://github.com/AlvianJoseph">Alvin Joseph</a></h2>
                  <p>After serving 6 years in the military as Persian Farsi linguist and Intelligence analyst, I decided to apply those language learning and logic skills to a career in coding. At the beginning of April I dropped everything and moved across the country to puruse that goal. I hope you enjoy our first independent project after completing Code Fellows 301.</p>
                </section>
              </li>
              <li>
                <figure class="img">
                    <img src="/images/ezgif.com-gif-maker.jpg">
                </figure>
                <section>
                  <h2><a href="https://github.com/RevYolution">Jonathan Rice</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.</p>
                </section>

              </li>
              <li>
                <figure class="img">
                  <img src="/images/IMG_1322.JPG">
                </figure>
                <section>
                  <h2><a href="https://github.com/Richard0923">Richard Rosado</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sic enim maiores nostri labores non fugiendos tristissimo tamen verbo aerumnas etiam in deo nominaverunt. Collige omnia, quae soletis: Praesidium amicorum. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.</p>
                </section>
              </li>
            </ul>
            <br>
            <br>
            <br>
          </main>

          <footer>
            <nav>
                <ul class='footer'>
                    <li><img class='food-icons bounce'  src="images/icons/burger.png" alt=""><li>
                        <li><img class='food-icons bounce' src="images/icons/ice-cream.png" alt=""><li>
                        <li><img class='food-icons bounce' src="images/icons/glass.png" alt=""><li>
                        <li><img class='food-icons bounce' src="images/icons/salad.png" alt=""><li>
                </ul>
            </nav>
            <br>
            <br>
            <br>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                    3.0 BY</a></div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>

</html>
