<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <title>Picky Eater</title>

</head>
<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="container">


                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Picky Eater</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <!-- add file paths -->
                                <li><a href="/">Home</a></li>
                                <li><a href="/cooking">Recipes</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/saved-recipe">Your Recipes</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cooking-heading">Eating in is always better than eating out. Think about your wallet... <br>We don't judge, we just inform.</h1>
                    <br>
                    <br>
                    <img src="" alt="">


                         <form action='/recipes' method="POST">
                             <input id='search' type="text" name="expression" value="" placeholder="search for any food item">
                             <button id="hidden_button" type='submit'>BUTTON</button>
                         </form>
                         </div>
         
                         <div class="mastfoot">
                             <div class="inner">
                             </div>
                         </div>

            </div>

        </div>

    </div>

    <footer>
        <nav>
            <ul class='footer'>
                <li><img class='food-icons' src="images/icons/burger.png" alt=""><li>
                <li><img class='food-icons' src="images/icons/ice-cream.png" alt=""><li>
                <li><img class='food-icons' src="images/icons/glass.png" alt=""><li>
                <li><img class='food-icons' src="images/icons/salad.png" alt=""><li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                3.0 BY</a></div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>

</html>