<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">


            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Picky Eater</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <!-- add file paths -->
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/cooking">Recipes</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/saved-recipe">Your Recipes</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
