<!DOCTYPE html>
<html lang="en">
  <head>
     
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="styles/base.css">

    <title>Picky Eater</title>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Picky Eater</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">The question we've all been asking.... What's in that food?</h1>
            <br>
            <br>
            <img src="" alt="">
            <br>
            <br>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>

  <footer id="footer-section">
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fd1yn1kh78jj1rr.cloudfront.net%2Fimage%2Fpreview%2FBRiFDYYQMjby7gh25%2Fstoryblocks-white-marble-stone-wall-background-marble-texture-with-natural-pattern_S4d5TYjPf_SB_PM.jpg&imgrefurl=https%3A%2F%2Fwww.storyblocks.com%2Fstock-image%2Fwhite-marble-stone-wall-background-marble-texture-with-natural-pattern-bascakowfjdxrljhd&docid=ujuYDuH7xzYF-M&tbnid=7vZbvz-eQ7bIYM%3A&vet=10ahUKEwicwPK-4rziAhWog1QKHU_YALQQMwhVKAIwAg..i&w=1000&h=667&safe=active&bih=671&biw=1280&q=marble%20white%20background%20image&ved=0ahUKEwicwPK-4rziAhWog1QKHU_YALQQMwhVKAIwAg&iact=mrc&uact=8" >
        
</footer>

</html>

