<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <title>Picky Eater</title>

</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Picky Eater</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">The question we've all been asking.... What's in that food?</h1>
                    <br>
                    <br>
                    <img src="" alt="">
                    <br>
                    <br>
                    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                        edit the text, and add your own fullscreen background photo to make it your own.</p>
                    <p class="lead">
                        <form>
                            <input id='title' type="text" name="title" value=""
                                placeholder="search for any food item">
                        </form>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                    </div>
                </div>

            </div>

        </div>

    </div>

    <footer>
        <nav>
            <ul class='footer'>
                <li ><a href="#"><i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i></a></li>
                <li ><a href="#"><i class="fa fa-cutlery fa-3x" aria-hidden="true"></i></a></li>
                <li ><a href="#"><i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i></a></li>
                <li ><a href="#"><i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>